@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after{
  box-sizing: border-box;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #222831 !important;
  font-family: Poppins, sans-serif !important;
  font-size: 1rem !important;
  color: #fff !important;
  min-height: 100vh !important;
}

.main-nav button{
  display: none;
}

.social-networks{
  display: none;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.main-header .brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
  justify-content: space-between;
  margin-left: 1rem;
}

.brand-logo-name{
  margin-left: 2rem;
  font-weight: bolder !important;
  font-size: x-large !important;
  text-transform: uppercase !important;
  letter-spacing: 5px !important;
}

.brand-logo-name:hover{
  color: #be79df;
  transition: all .8s ease-in-out;
  transform: translate(100px,0px) scale(1.5) rotate3d(100,100,100,360deg);
}

.main-nav ul, .footer-nav ul {
  display: flex;
  margin: auto;
  padding: 0;
  list-style: none;
  margin-right: 1.5em;
}

.text-justify{
  text-indent: 30px;
  padding: 0 25px;
}

.main-nav a, .footer-nav a {
  color: inherit;
  text-decoration: none !important;
  padding: 1rem;
  font-weight: bolder;
  font-size: larger;
}

.main-nav a:hover, .footer-nav a:hover  {
  color: #adadad;
}

.main-header, .main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  height: 140px;
}

.main-footer {
  width: 100%;
  height: 60px;
  background-color: #1e2022 !important;
  font-weight: bold;
  box-shadow: 0 0 100px 50px #be79df;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-nav ul li a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-nav ul li a i{
  font-size: x-large !important;
  color: #fff !important;
  padding-right: .5em;
}

#main-footer ul li a{
  padding-left: .5em;
}

.title {
  font-weight: 500;
  font-size: 2.5em !important;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.4em !important;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.btn {
  color: white !important;
  background-color: #1762A7 !important;
  padding: .5rem !important;
  border: none !important;
  border-radius: .5rem !important;
  text-decoration: none !important;
  font-size: 1.3rem !important;
  cursor: pointer !important;
}

.btn:hover {
  background-color: #2180d8 !important;
}

.btn:focus {
  background-color: #2796ff !important;
}